<div class="container__small-card">
  <div class="small-card">
    <div class="small-card__title">
      <h2>Notebook Acer Aspire 3</h2>
    </div>
    <div class="small-card__img">
      <a><img src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/n/o/notebook-acer-aspire-3-intel-celeron-4g-ram-128gb-ssd-tela-de-14-w11-pro_807952.jpg" width="200px" alt=""></a>
    </div>
    <div class="small-card__text">
      <a href=""><p>Intel Celeron </p></a>
      <a href=""><p>4GB DDR4 2666</p></a>
      <a href=""><p>SSD 256GB</p></a>
      <a href="" class="preco"><p>R$ 2.199,00</p></a>
    </div>
    <div class="small-card__button">
      <button>Ver</button>
    </div>
  </div>

  <div class="small-card">
    <div class="small-card__title">
      <h2>Notebook Acer Aspire 3</h2>
    </div>
    <div class="small-card__img">
      <a><img
          src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/n/o/notebook-acer-aspire-3-intel-celeron-4g-ram-128gb-ssd-tela-de-14-w11-pro_807952.jpg"
          width="200px" alt=""></a>
    </div>
    <div class="small-card__text">
      <a href="">
        <p>Intel Celeron </p>
      </a>
      <a href="">
        <p>4GB DDR4 2666</p>
      </a>
      <a href="">
        <p>SSD 256GB</p>
      </a>
      <a href="" class="preco">
        <p>R$ 2.199,00</p>
      </a>
    </div>
    <div class="small-card__button">
      <button>Ver</button>
    </div>
  </div>

  <div class="small-card">
    <div class="small-card__title">
      <h2>Notebook Acer Aspre 3</h2>
    </div>
    <div class="small-card__img">
      <a><img
          src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/n/o/notebook-acer-aspire-3-intel-celeron-4g-ram-128gb-ssd-tela-de-14-w11-pro_807952.jpg"
          width="200px" alt=""></a>
    </div>
    <div class="small-card__text">
      <a href="">
        <p>Intel Celeron </p>
      </a>
      <a href="">
        <p>4GB DDR4 2666</p>
      </a>
      <a href="">
        <p>SSD 256GB</p>
      </a>
      <a href="" class="preco">
        <p>R$ 2.199,00</p>
      </a>
    </div>
    <div class="small-card__button">
      <button>Ver</button>
    </div>
  </div>

  <div class="small-card">
    <div class="small-card__title">
      <h2>Notebook Acer Aspire 3</h2>
    </div>
    <div class="small-card__img">
      <img
        src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/n/o/notebook-acer-aspire-3-intel-celeron-4g-ram-128gb-ssd-tela-de-14-w11-pro_807952.jpg"
        width="200px" alt="">
    </div>
    <div class="small-card__text">
      <a href="">
        <p>Intel Celeron </p>
      </a>
      <a href="">
        <p>4GB DDR4 2666</p>
      </a>
      <a href="">
        <p>SSD 256GB</p>
      </a>
      <a href="" class="preco">
        <p>R$ 2.199,00</p>
      </a>
    </div>
    <div class="small-card__button">
      <button>Ver</button>
    </div>
  </div>
</div>
