<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container__menu-bar">
  <div class="navigation">
    <div class="page-name">
      <a class="page-name-img" href=""><img
          src="https://fontmeme.com/permalink/231019/2470cf66ac7d1735f37ba3e9d23f35b3.png" alt="in-space-with-markiplier-font"
          border="0"></a>
    </div>
    <ul class="menu-lista">
      <li><a href="">Home</a></li>
      <li><a href="">Catalogo</a></li>
      <li><a href="">Contato</a></li>
      <li><a href="">Promoções</a></li>
      <li><a href="">Atendimento</a></li>
      <li><a href=""><span class="login"><a href="">Login</a></span></a></li>
      <li><a href=""><span class="material-symbols-outlined">shopping_basket</span></a></li>
    </ul>
  </div>
</div>
