<div class="container__big-card">
  <div class="big-card">
    <h2 class="big-card__title">CPU Intel Core i7</h2>
    <a href=""><img src="https://i.zst.com.br/thumbs/12/28/13/1967454404.jpg" width="300px" alt="" class="big-card__img"></a>
    <div class="big-card__text">
      <a href=""><p>Intel Core i7 9700k</p>
      <p>16GB DDR4 3200 MHz</p>
      <p>SSD NVME 1TB</p>
      <p>Nvidia RTX 3080 ti</p></a>
      <div class="preco">
        <p>R$ 4.690,00</p>
      </div>
    </div>
    <div class="big-card__button">
      <button>Ver</button>
      <button class="cart"><a href=""><span class="material-symbols-outlined"
            style="color: aliceblue;">shopping_basket</span></a></button>
    </div>
  </div>

  <div class="big-card">
    <h2 class="big-card__title">CPU AMD Ryzen 5</h2>
    <a href=""><img src="https://i.zst.com.br/thumbs/12/4/12/-25541556.jpg" width="300px" alt=""
        class="big-card__img"></a>
    <div class="big-card__text">
      <a href=""><p>Ryzen 5 5600g</p>
      <p>8GB DDR4 3200 MHz</p>
      <p>SSD 512GB</p>
      <p>AMD RX 5700</p></a>
      <div class="preco">
        <p>R$ 3.890,00</p>
      </div>
    </div>
    <div class="big-card__button">
      <button>Ver</button>
      <button class="cart"><a href=""><span class="material-symbols-outlined"
            style="color: aliceblue;">shopping_basket</span></a></button>
    </div>
  </div>

  <div class="big-card">
    <h2 class="big-card__title">CPU Intel Core i9</h2>
    <a href=""><img src="https://i.zst.com.br/thumbs/12/f/3a/-1076594691.jpg" width="300px" alt=""
        class="big-card__img"></a>
    <div class="big-card__text">
      <a href=""><p>Intel i9 12900k</p>
      <p>32GB DDR5 4800 MHz</p>
      <p>SSD NVME 1TB</p>
      <p>Nvidia RTX4070</p></a>
      <div class="preco">
        <p>R$ 7.990,00</p>
      </div>
    </div>
    <div class="big-card__button">
      <button>Ver</button>
      <button class="cart"><a href=""><span class="material-symbols-outlined"
            style="color: aliceblue;">shopping_basket</span></a></button>
    </div>
  </div>
</div>
